# dependencies
/node_modules
/.pnpm-debug.log*

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env*.local

# next.js
/.next/
/out/

# production
/build

# Vercel
.vercel

# logs
logs
*.log

# OS files
.DS_Store
Thumbs.db